#introlink1, #introlink2, #introlink3 {
    text-align: right;
    margin-right: 16px;
    padding: 0px;
    border-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}
#pageoutline {
    text-align: center;
    font-size: 30px;
}
.centerpersonalphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

