#link1 {
    text-align: right;
    break-after: avoid-column;
    border-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}
#pagebeginning {
    align-items: center;
    font-size: 16px;
}