#introlink1, #introlink2, #introlink3 {
    text-align: right;
    margin-right: 16px;
    padding: 0px;
    border-bottom: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}
#pagebeginning h3, img {
    text-align: center;
}